.peransa-table-wrapper {
  transform: translate(0);
}
.peransa-table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  position: relative;
}

.peransa-table-container.has-scroll::after,
.peransa-table-container.has-scroll::before {
  content: '';
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 6px;
  pointer-events: none;
}
.peransa-table-container::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  transition: background 0.3s ease;
}
.peransa-table-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  transition: background 0.3s ease;
}
.peransa-table-container.hide-right-shadow::after,
.peransa-table-container.hide-left-shadow::before {
  background: transparent;
}

.peransa-table-container .no-shadow {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.1); /* No right shadow when at end */
}

.peransa-table-table {
  width: 100%;
  min-width: 100%;
  text-align: start;
  border-radius: 8px 8px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}
.peransa-table-table::after {
  right: 0;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
}

.peransa-table-head tr th {
  position: relative;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  text-align: start;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}

.peransa-table-body tr td {
  transition:
    background 0.2s,
    border-color 0.2s;
  border-bottom: 1px solid #f0f0f0;
}

.peransa-table-body tr:hover {
  background: #fafafa;
}

.peransa-table-cell {
  position: relative;
  padding: 16px;
  overflow-wrap: break-word;
}
.peransa-table-head-cell-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.peransa-table-head-cell-content-wrapper .icon-wrapper {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.peransa-table-pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
}

.peransa-table-pagination button {
  border: none;
  background-color: transparent;
  padding: 4px 12px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.88);
}

.peransa-table-pagination button:hover {
  cursor: pointer;
  background: #fafafa;
}

.peransa-table-pagination button.active {
  border: 1px solid;
}

.peransa-table-body .peransa-table-no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  height: 400px;
}

.peransa-table-body .peransa-table-loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

.peransa-table-loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.88);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.has-hover {
  cursor: pointer;
}
